nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 1rem 2rem;

  a {
    color: white;
    text-decoration: none;
  }

  .nav_category {
    display: inline-flex;
    gap: 2rem;
  }
  .card_status {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    background: white;
    color: black;
    text-align: center;
    border-radius: 50%;
  }
  .cart_icon {
    color: inherit;
  }
}

.active{
  color:red;
}