.filters {
  border: 1px solid;
  padding-left: 1.5rem;
  height: 26rem;

  .filter_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    .category_filter--heading {
      margin-bottom: 0.3rem;
    }

    .filter_option {
      display: inline-flex;
      gap: 0.5rem;
    }
  }
}
