.category_container {
  width: inherit;
  height: 60vh;
  padding-top: 1rem;
}

.filter_container {
  padding-left: 1rem;

  .filter_option {
    display: flex;
    margin-bottom: 0;
    gap: 10px;
  }

  .category_filter--heading {
    margin: 0;
    padding: 0;
  }
}
